@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

* {
  direction: rtl;
  text-align: right;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fafafa;
  direction: rtl;
}
